db:
  pg:
    host: <Your PosgreSQL host>
    port: <Your PosgreSQL host>
    username: <Your PosgreSQL username>
    password: <Your PosgreSQL password>
    database: <Your PosgreSQL database>
    synchronize: <synchronize data schema or not. boolean type>
app:
  port: 8080
  cors:
    # allowed origins for API server
    origin: https://www.example.com/, https://example.com/
  auth:
    access:
      name: <Your JWT token name>
      secret: <Your JWT token secret>
      expiresIn: <Your JWT token expiration time>
      expiration: <Your JWT token expiration time in seconds>
    token:
      name: <Your refresh token name>
      secret: <Your refresh token secret>
      expiresIn: <Your refresh token expiration time>
      expiration: <Your refresh token expiration time in seconds>
cloudinary:
  cloud_name: <Your cloundinary cloud_name>
  api_key: <Your cloundinary api_key>
  api_secret: <Your cloundinary api_secret>
  allowed_formats: jpg, png, jpeg
  folder: <Your cloundinary folder name that store files>
mapbox:
  access_token:<Your mapbox access_token>
