[data-reach-dialog-content] {
  .btn--close {
    &.at-with-auth {
      position: absolute;
      right: 1.75rem;
      top: 1.5rem;
      display: block;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  .auth-form {
    margin-top: 0 !important;
    .title {
      padding-bottom: 1rem !important;
    }
  }
  form {
    padding: 0 !important;
  }
  button {
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: var(--bs-secondary);
    &.btn--login {
      background-color: var(--bs-green);
    }
  }
  p {
    margin-top: 1rem;
    &.alert-buttons {
      text-align: center;
    }
    &.switch-type {
      button {
        padding: 0.25rem 0.5rem;
        background-color: transparent;
        color: var(--bs-blue);
        text-decoration: underline;
      }
    }
  }
}
